<section id="course_index_page" class="container">
	<section class="new_courses">
		<a href="/course/new">
			new course <i class="material-icons">add_circle</i>
		</a>
	</section>
	<section class="active_courses">
		<h2>Active Courses <i class="material-icons">help</i></h2>
		<table>
			<tr>
				<th>Course</th>
				<th>Semester</th>
				<th>Year</th>
				<th>Artifact Progress <i class="material-icons">help</i></th>
				<th>Due Date</th>
				<th></th>
			</tr>
			{{{active_courses}}}
		</table>
	</section>
	<section class="archived_courses">
		<h2>Archived Courses</h2>
		<table>
			<tr>
				<th>Course</th>
				<th>Semester</th>
				<th>Year</th>
				<th>Artifact Progress <i class="material-icons">help</i></th>
				<th>Due Date</th>
				<th></th>
			</tr>
			{{{archived_courses}}}
		</table>
	</section>
</section>